body {
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size:12px;
    color: #656565;
    line-height: 18px;
    min-width: 320px;
    background-image: url('https://www.scouts362.es/images/fondo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
}

.container-page {
    background-color: white;
    margin:20px;
    border: 0px solid #000000;
    padding:20px;
    border-top-color: 6px solid #830000;
}

.container-page h1{
    margin-bottom: 20px;
}
